<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
</head>
<body>
    <div class="card employee-card mr-4 ml-4 mb-3">
        <div class="card-header text-white bg-success text-center">
            <h2 class="card-title">{{ name }}</h2>
            <h4 class="card-title"><i class="fas fa-user-tie"></i> {{ role }}</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">ID: {{ id }}</li>
                <li class="list-group-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                <li class="list-group-item">Office Number: {{ office }}</li>
            </ul>
        </div>
    </div>
    
</body>
</html>